.header {
    padding-top: var(--mantine-spacing-sm);
    border-bottom: 1px solid light-dark(var(--mantine-color-gray-2), transparent);
    margin-bottom: 20px;
}


.userActive {
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-8));
}

.tabsList {
    &::before {
        display: none;
    }
}

.tab {
    font-weight: 500;

    background-color: transparent;
    position: relative;

    &::before,
    &::after {
        background-color: light-dark(
                var(--mantine-color-gray-2),
                var(--mantine-color-dark-7)
        ) !important;
    }

    &:hover {
        background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
    }

    &[data-active] {
        background-color: light-dark(var(--mantine-primary-color-light), var(--mantine-color-dark-7));
        border-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-7));
        border-bottom-color: transparent;
    }
}